/* src/pages/Login.css */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 20px;
  width: 100%;
}

.login-page h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;
}